# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Environment & Secrets
.env
.streamlit/secrets.toml

# Data & Database
data/raw/*
!data/raw/.gitkeep
*.db
*.sqlite
*.sqlite3

# Models & FAISS index cache
*.faiss
*.pkl
models/

# Jupyter Notebooks
.ipynb_checkpoints
